*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100vh;
}

/* Deleye picture and video if didn't use in final */
img, svg, picture, video {
    display: box;
    max-width: 100%;
}
